@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap'); // noting you cloud do
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap'); //Do Hyeon
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap'); //notosans

* {

    h1,
    h2,
    h3,
    h4,
    p {
        margin: 0;
    }

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: #000000;
    }

    .S_home,
    .S_about,
    .S_skill,
    .S_project,
    .S_contact {
        width: 100%;
    }

    .S_home_main,
    .S_about_main,
    .S_skill_main,
    .S_project_main,
    .S_contact_main {
        padding-top: 175px;
        margin-left: 20%;
        width: 60%;

        h1 {
            font-size: 4.5vw;
        }
    }
}


#root {



    .arrow {
        margin: 50px 0 50px 50%;
        cursor: pointer;
    }

    width:100%;

    header {
        padding: 10px 0 0 144px;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        color: #FFFFFF;
        background-color: #0049F8;
        height: 60px;
        z-index: 1;

        .h_name {
            font-size: 40px;
            font-family: 'Nothing You Could Do';
            font-weight: 700;
            cursor: pointer;
        }

        nav {
            display: flex;
            margin-right: 290px;
            gap: 25px;
            font-size: 20px;
            font-family: 'Do Hyeon', sans-serif;

            :hover {
                scale: 1.2;
            }

            p {
                opacity: 0.5;
                cursor: pointer;
            }
        }


    }

    .S_home {
        // background: url('../public/images/sign.png'), no-repeat, #0049F8;
        background-image: url('../public/images/sign.png');
        background-repeat: no-repeat;
        background-position: center;
        background-color: #0049F8;
        color: #FFFFFF;
        font-family: 'Do Hyeon', sans-serif;


        .S_home_main {

            .line {
                border-bottom: 1px solid rgba(255, 255, 255, 0.4);
                width: 90%;
            }

            p {
                width: 90%;
            }

            p:nth-of-type(1) {
                font-size: 6vw;
                margin-bottom: 74px;

                span {
                    background-color: yellow;
                    color: #0049F8
                }
            }

            p:nth-of-type(2) {

                // border-top: 1px solid rgba(255, 255, 255, 0.4);
                font-size: 1vw;
                font-family: 'Noto Sans KR', sans-serif;
                color: rgba(255, 255, 255, 0.80);
                padding-top: 25px;
            }


        }
    }

    .S_about {
        .S_about_main {
            color: #0049F8;

            h1 {
                font-family: 'Do Hyeon', sans-serif;
            }

            p {
                font-family: 'Noto Sans KR', sans-serif;
                font-size: 1.3vw;
                color: #000000;
                margin-top: 20px;

                span {
                    font-weight: 700;
                    color: #0049F8;
                    border-bottom: 1px solid #0049F8;
                }
            }

            .introduce {
                display: flex;
                margin-top: 153px;
                align-items: end;

                p {
                    width: 40%;

                    img {
                        width: 100%;
                        height: 360px;
                    }
                }

                ul {
                    color: #000000;
                    font-size: 1.2vw;
                    font-family: 'Noto Sans KR', sans-serif;
                    margin-left: 50px;

                    li {
                        padding: 5px 0;
                        list-style: disc;
                    }
                }
            }
        }
    }

    .S_skill {
        background-color: #ECF2FF;
        color: #0049F8;

        .S_skill_main {
            font-family: 'Do Hyeon', sans-serif;

            .familiar {
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);

                .familiar_img {
                    position: relative;

                    img {
                        margin: 50px 50px;
                    }
                }

                .familiar_text {

                    position: absolute;
                    top: 0;
                    background-color: #FFFFFF;
                    border: 2px solid #ADC3FF;
                    border-radius: 10px;
                    width: 100%;
                    height: 50px;

                    display: none;

                    .active {
                        display: block;
                    }

                }


            }

            .tried {
                .tried_img {
                    img {
                        margin: 50px 60px
                    }
                }
            }

            .familiar,
            .tried {
                margin-top: 85px;
                margin-left: 50px;



                .familiar_img,
                .tried_img {

                    text-align: center;

                    img {
                        cursor: pointer;
                        opacity: 0.3;
                    }

                    img:hover {
                        opacity: 1;
                    }
                }

                p {
                    font-size: 2.5vw;
                    color: #000000;
                }
            }

        }
    }

    .S_project {
        .S_project_main {
            color: #0049F8;
            width: 60%;

            h1 {
                font-family: 'Do Hyeon', sans-serif;
                margin-bottom: 50px;
            }

            .my_project_lt {
                &:nth-of-type(2n) {
                    flex-direction: row-reverse;

                    p {
                        text-align: left;
                    }
                }


                display: flex;
                gap: 20px;
                align-items: center;
                margin: 100px 0;
                justify-content: space-between;

                >p {
                    color: #000000;
                    text-align: right;
                    font-size: 1vw;
                    font-family: 'Noto Sans KR';
                    width: 40%;
                    line-height: 2;

                    span {
                        font-size: 2.5vw;
                        font-family: 'Do Hyeon', sans-serif;
                    }
                }

                .active {
                    transform: perspective(600px) rotateY(180deg);
                }

                .rotate {

                    position: relative;
                    transform-style: preserve-3d;
                    transition: 1.5s;
                    width: 50%;
                    height: 350px;
                    cursor: pointer;

                    p {
                        position: absolute;
                        width: 100%;
                        height: 100%;


                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    p:nth-of-type(2) {
                        background-color: #FFFFFF;
                        transform: translateZ(-1px) rotateY(180deg);

                    }
                }

            }


        }
    }

    .S_contact {
        background: url("../public/images/me.png") center 250px / 150% no-repeat;
        height: 1300px;


        background-color: #0049F8;
        color: #ECF2FF;

        .S_contact_main {

            h1 {

                font-family: 'Do Hyeon', sans-serif;
            }

            p {
                font-size: 1vw;
                margin: 42px 0;
                font-family: 'Noto Sans KR', sans-serif;
            }

            a {
                font-size: 1vw;
                color: #FFFFFF;
                font-family: 'Noto Sans KR', sans-serif;


                img {
                    width: 2%;
                }

            }
        }
    }
}