@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap'); // noting you cloud do
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap'); //Do Hyeon
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap'); //notosans
@import "_mixin.scss";
@keyframes move{
    100%{
        transform: translateX(-100%);
    }
}
* {

    h1,
    h2,
    h3,
    h4,
    p {
        margin: 0;
    }

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: #000000;
    }

    .S_home,
    .S_about,
    .S_skill,
    .S_project,
    .S_contact {
        width: 100%;
    }

    .S_home_main,
    .S_about_main,
    .S_skill_main,
    .S_project_main,
    .S_contact_main {
        padding-top: 175px;
        margin-left: 20%;
        width: 60%;

        h1 {
            font-size: 8vw;
        }
    }
}

//1024~1920
#root {
    width: 100%;
    .circle {
        position: absolute;
        top: -100px;
        left: -100px;
        width: 50px;
        height: 50px;
        background-color: #0049F8;
        color: #FFFFFF;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translate(-70%, -70%);
        z-index: 1;
        pointer-events: none;
    }

    .arrow {
        margin: 50px 0 50px 50%;
        cursor: pointer;
    }

    header {
        padding: 10px 0 0 10%;
        
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        color: #FFFFFF;
        background-color: #0049F8;
        height: 60px;
        z-index: 1;

        .burger_menu {
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 30px; 
            height:30px;
            &:hover{
                cursor: pointer;
            }
            
            position: relative;
            >p{
                position: absolute;
                font-size: 35px;
                pointer-events : none;
                
            }
            >p:nth-of-type(1){
                top:-9px;
                
            }
            >p:nth-of-type(2){
                top:-18px;
            }
            >p:nth-of-type(3){
                top:0;
            }
        }

        .burger_list {
            display: none;
        }

        .h_name {
            font-size: 40px;
            font-family: 'Nothing You Could Do';
            font-weight: 700;
            cursor: pointer;
        }

        nav {
            display: flex;
            margin-right: 20%;
            gap: 25px;
            font-size: 20px;
            font-family: 'Do Hyeon', sans-serif;

            :hover {
                scale: 1.2;
            }

            p {
                opacity: 0.5;
                cursor: pointer;
            }
        }


    }

    .S_home {
        // background: url('../public/images/sign.png'), no-repeat, #0049F8;
        background-image: url('../public/images/sign.png');
        background-repeat: no-repeat;
        background-position: center;
        background-color: #0049F8;
        color: #FFFFFF;
        font-family: 'Do Hyeon', sans-serif;


        .S_home_main {

            .line {
                border-bottom: 1px solid rgba(255, 255, 255, 0.4);
                width: 90%;
            }

            p {
                width: 90%;
            }

            p:nth-of-type(1) {
                font-size: 6vw;
                margin-bottom: 74px;

                span {
                    background-color: yellow;
                    color: #0049F8
                }
            }

            p:nth-of-type(2) {
                font-size: 1.3vw;
                font-family: 'Noto Sans KR', sans-serif;
                color: rgba(255, 255, 255, 0.80);
                padding-top: 25px;
            }


        }
    }

    .S_about {
        .S_about_main {
            color: #0049F8;

            h1 {
                font-family: 'Do Hyeon', sans-serif;
            }

            p {
                font-family: 'Noto Sans KR', sans-serif;
                font-size: 1.3vw;
                color: #000000;
                margin-top: 20px;

                span {
                    font-weight: 700;
                    color: #0049F8;
                    border-bottom: 1px solid #0049F8;
                }
            }

            .introduce {
                display: flex;
                margin-top: 153px;
                align-items: end;

                p {
                    width: 60%;
                    height: 20vw;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                ul {
                    color: #000000;
                    font-size: 1.2vw;
                    font-family: 'Noto Sans KR', sans-serif;
                    margin-left: 50px;

                    li {
                        padding: 5px 0;
                        list-style: disc;
                    }
                }
            }
        }
    }

    .S_skill {
        background-color: #ECF2FF;
        color: #0049F8;

        .skills {

            margin: 100px 20px;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;

            .skill_box {
                padding: 10px;
                border: 2px solid #0049F8;
                background-color: white;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;

                p {
                    width: 80px;

                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                }

            }
        }

        .skill_explain {
            padding: 10px;
            margin: 0 20px;
            

            h2 {
                background: linear-gradient(180deg, #9FA6FF 0%, #A7E1FF 100%);
                color: transparent;
                -webkit-background-clip: text;
                font-size: 28px;
            }

            p {
                line-height: 30px;
                color: black;
                margin: 20px 0;
                font-size: 1.3vw;
            }
        }
    }
    .S_project {
        .S_project_main {
            color: #0049F8;
            width: 60%;
    
            h1 {
                font-family: 'Do Hyeon', sans-serif;
                margin-bottom: 50px;
            }
    
            .my_project_lt {
                display: flex;
                align-items: center;
                margin: 100px 0;
                justify-content: space-between;
                gap:50px;
                &:nth-of-type(2n) {
                    flex-direction: row-reverse;
    
                    div {
                        text-align: left;
                    }
                    
                }
    
                >div {
                    color: #000000;
                    text-align: right;
                    font-size: 1.1vw;
                    font-family: 'Noto Sans KR';
                    width: 60%;
    
                    h2 {
                        font-size: 2vw;
                        font-family: 'Do Hyeon', sans-serif;
                    }
                    >div{
                        p:nth-of-type(1){
                            margin : 20px 0 ;
                        }
                        img{
                            width:30px;
                        }
                    }
    
                }
    
                .rotate {
                    width: 60%;
                    >p {
                        width: 100%;
                        height: 15vw;
    
                        a {
                            width: 100%;
                            height: 100%;
                            display: block;
    
                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .S_contact {
        overflow: hidden;
        background-color: #0049F8;
        color: #ECF2FF;
        
        position: relative;
        
        .S_contact_main {
            h1 {
                font-family: 'Do Hyeon', sans-serif;
            }
    
            p {
                font-size: 1.3vw;
                margin: 42px 0;
                font-family: 'Noto Sans KR', sans-serif;
            }
    
            a {
                font-size: 1.3vw;
                color: #FFFFFF;
                font-family: 'Noto Sans KR', sans-serif;
    
                img {
                    width: 2%;
                }
            }
            
        }
        .contact{
            width:1920px;
            .card_detail{
                display:none;
                
                &.active{
                    display:block;
                    background-color: rgba(136, 136, 136, 0.7);
                    width:100%;
                    height:100%;
                    position: absolute;
                    top:0;
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    >div{
                    p{
                        text-align: right;
                        color: white;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
                }
                
            }
            // position: absolute;
            
            height:60vh;
        .card{
            display:flex;
            width:100%;
            transform: rotate(-15deg);
            
            >div{
                display:flex;
                flex-shrink: 0;
                margin: 1% 0;
                width:100%;
                figure{
                    margin:0 1%;
                    width:23%;
                    height:25vh;
                    flex-shrink: 0;
                    opacity: 0.4;
                        &:hover{
                            opacity: 1;
                            cursor: pointer;
                        }
                    img{
                        width:100%;
                        height:100%;
                        
                    }
                }
            }
        }
        .card:nth-of-type(n)>div{
            animation: move 15s infinite linear;
        }
        .card:nth-of-type(2n)>div{
            animation: move 20s infinite linear reverse;
        }
        
    }
    }
}


//768~1024
@include pad2 {
    #root {
        header {
            .h_name{
                font-size: 4vw;
            }
            .burger_menu {
                display: flex;
                // position: absolute;
                right:20%;
                >p{
                    font-size: 30px;
                }
                
            }
            .burger_list{
                &.active{
                    display:block;
                    position: absolute;
                    top:100%;
                    right:0;
                }
            }
            nav {
                display: none;
            }
        }
    }
}

//480~768
@include pad {
    #root {
        header {
            .h_name{
                font-size: 30px;
            }
            .burger_menu {
                display: flex;
                // position: absolute;
                right:20%;
                >p{
                    font-size: 30px;
                }
                >p:nth-of-type(1){
                    top:-8px;
                    
                }
                >p:nth-of-type(2){
                    top:-16px;
                }
                >p:nth-of-type(3){
                    top:0;
                }
            }
            .burger_list{
                &.active{
                    display:block;
                    position: absolute;
                    top:100%;
                    right:0;
                }
            }
            nav {
                display: none;
            }
        }
    }
}
//480미만
@include mobile {
    #root {
        header {
            .h_name{
                font-size: 26px;
            }
            .burger_menu {
                display: flex;
                // position: absolute;
                right:20%;
                >p{
                    font-size: 26px;
                }
                >p:nth-of-type(1){
                    top:-7px;
                    
                }
                >p:nth-of-type(2){
                    top:-14px;
                }
                >p:nth-of-type(3){
                    top:0;
                }
            }
            .burger_list{
                &.active{
                    display:block;
                    position: absolute;
                    top:100%;
                    right:0;
                }
            }
            nav {
                display: none;
            }
        }
}
}