@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap'); // noting you cloud do
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap'); //Do Hyeon
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap'); //notosans
@import "_mixin.scss";
@keyframes motion {
	0% {margin-left: -100px; }
	100% {margin-left: 100px; }
}
* {

    h1,
    h2,
    h3,
    h4,
    p {
        margin: 0;
    }

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: #000000;
    }

    .S_home,
    .S_about,
    .S_skill,
    .S_project,
    .S_contact {
        width: 100%;
    }

    .S_home_main,
    .S_about_main,
    .S_skill_main,
    .S_project_main,
    .S_contact_main {
        padding-top: 175px;
        margin-left: 20%;
        width: 60%;

        h1 {
            font-size: 100px;
        }
    }
}

//1024~1920
#root {
    width: 100%;

    .circle {
        position: absolute;
        top: -100px;
        left: -100px;
        width: 50px;
        height: 50px;
        background-color: #0049F8;
        color: #FFFFFF;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translate(-70%, -70%);
        z-index: 1;
        pointer-events: none;
    }

    .arrow {
        margin: 50px 0 50px 50%;
        cursor: pointer;
    }

    header {
        padding: 10px 0 0 144px;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        color: #FFFFFF;
        background-color: #0049F8;
        height: 60px;
        z-index: 1;

        .burger_menu {
            position: relative;
            font-size: 30px;

            span {
                position: absolute;
            }

            span:nth-of-type(1) {
                transform: translateY(-7px);
            }

            span:nth-of-type(3) {
                transform: translateY(7px);
            }

            display:none;
        }

        .burger_list {
            display: none;
        }

        .h_name {
            font-size: 40px;
            font-family: 'Nothing You Could Do';
            font-weight: 700;
            cursor: pointer;
        }

        nav {
            display: flex;
            margin-right: 290px;
            gap: 25px;
            font-size: 20px;
            font-family: 'Do Hyeon', sans-serif;

            :hover {
                scale: 1.2;
            }

            p {
                opacity: 0.5;
                cursor: pointer;
            }
        }


    }

    .S_home {
        // background: url('../public/images/sign.png'), no-repeat, #0049F8;
        background-image: url('../public/images/sign.png');
        background-repeat: no-repeat;
        background-position: center;
        background-color: #0049F8;
        color: #FFFFFF;
        font-family: 'Do Hyeon', sans-serif;


        .S_home_main {

            .line {
                border-bottom: 1px solid rgba(255, 255, 255, 0.4);
                width: 90%;
            }

            p {
                width: 90%;
            }

            p:nth-of-type(1) {
                font-size: 6vw;
                margin-bottom: 74px;

                span {
                    background-color: yellow;
                    color: #0049F8
                }
            }

            p:nth-of-type(2) {
                font-size: 1vw;
                font-family: 'Noto Sans KR', sans-serif;
                color: rgba(255, 255, 255, 0.80);
                padding-top: 25px;
            }


        }
    }

    .S_about {
        .S_about_main {
            color: #0049F8;

            h1 {
                font-family: 'Do Hyeon', sans-serif;
            }

            p {
                font-family: 'Noto Sans KR', sans-serif;
                font-size: 1.3vw;
                color: #000000;
                margin-top: 20px;

                span {
                    font-weight: 700;
                    color: #0049F8;
                    border-bottom: 1px solid #0049F8;
                }
            }

            .introduce {
                display: flex;
                margin-top: 153px;
                align-items: end;

                p {
                    width: 60%;
                    height: 20vw;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                ul {
                    color: #000000;
                    font-size: 1.2vw;
                    font-family: 'Noto Sans KR', sans-serif;
                    margin-left: 50px;

                    li {
                        padding: 5px 0;
                        list-style: disc;
                    }
                }
            }
        }
    }

    .S_skill {
        background-color: #ECF2FF;
        color: #0049F8;

        .skills {

            margin: 100px 20px;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;

            .skill_box {
                padding: 10px;
                border: 2px solid #0049F8;
                background-color: white;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;

                p {
                    width: 80px;

                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                }

            }
        }

        .skill_explain {
            padding: 10px;
            margin: 0 20px;
            border-left: 10px solid transparent;
            border-image: linear-gradient(180deg, #9FA6FF 0%, #A7E1FF 100%);
            border-image-slice: 1;

            h2 {
                background: linear-gradient(180deg, #9FA6FF 0%, #A7E1FF 100%);
                color: transparent;
                -webkit-background-clip: text;
                font-size: 28px;
            }

            p {
                line-height: 30px;
                color: black;
                margin: 20px 0;
                font-size: 20px;
            }
        }
    }
}

.S_project {
    .S_project_main {
        color: #0049F8;
        width: 60%;

        h1 {
            font-family: 'Do Hyeon', sans-serif;
            margin-bottom: 50px;
        }

        .my_project_lt {
            display: flex;
            align-items: center;
            margin: 100px 0;
            justify-content: space-between;
            gap:50px;
            &:nth-of-type(2n) {
                flex-direction: row-reverse;

                div {
                    text-align: left;
                }
                
            }

            >div {
                color: #000000;
                text-align: right;
                font-size: 1vw;
                font-family: 'Noto Sans KR';
                width: 60%;

                h2 {
                    font-size: 2vw;
                    font-family: 'Do Hyeon', sans-serif;
                }
                >div{
                    p:nth-of-type(1){
                        margin : 20px 0 ;
                    }
                    img{
                        width:30px;
                    }
                }

            }

            .rotate {
                width: 50%;
                >p {
                    width: 100%;
                    height: 15vw;

                    a {
                        width: 100%;
                        height: 100%;
                        display: block;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}

.S_contact {
    // background: url("../public/images/me.png") center 250px / 150% no-repeat;
    height: 100vh;
    position: relative;

    background-color: #0049F8;
    color: #ECF2FF;

    .S_contact_main {
        h1 {
            font-family: 'Do Hyeon', sans-serif;
        }

        p {
            font-size: 1vw;
            margin: 42px 0;
            font-family: 'Noto Sans KR', sans-serif;
        }

        a {
            font-size: 1vw;
            color: #FFFFFF;
            font-family: 'Noto Sans KR', sans-serif;

            img {
                width: 2%;
            }
        }
    }
    overflow: hidden;
    .contact_card{
        position: absolute;
        top:50%;
        z-index: 0;
        display:flex;
        flex-wrap: nowrap;
        transform: rotate(-15deg) translateY(-100px);
        animation: motion 3s linear 0s infinite;
        &:hover{
            animation: none;
        }
        }
        .contact_card_contents{
            border: 1px solid none;
            background-color: #d9d9d9;
            opacity: 0.2;
            width:450px;
            height:250px;
            margin: 10px 10px;
            
        }
        .contact_card_contents:nth-of-type(2){
            opacity: 1;
            img{
                width:100%;
                height:100%;
            }
        }
    }

/* Group 39 */






//768~1024
@include pad2 {
    #root {
        header {
            .burger_menu {
                display: block;
            }

            nav {
                display: none;
            }
        }
    }
}

//480~768
@include pad {}

@include mobile {}